@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');






/***** Start VARIÁVEIS *****/
:root {
    /* CORES */
    --dark-gray: #1f1f1f;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8f8f8f;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --primary: #c92071;
    --secondary: #b5b6f2;
    --erro: #EE4266;
    --success: #52ca76;
    --warning: #F6AA1C;
    --primary-gradient: ;
    --secondary-gradient: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0.00) 60%);
    --white: #fff;
    --Tertiary: #991956;
}
.text_s_b {
    color: var(--warning);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05rem;
}
.text_x-s_b {
    color: var(--dark-gray-2);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 157.143%;
    letter-spacing: 0.05rem;
}
.text_t_b {
    color: var(--light-gray);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 0.75rem;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.05rem;
}
.text_m-desktop {
    color: var(--dark-gray);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 188.889%;
    letter-spacing: 0.05rem;
}
.text_l-desktop {
    color: var(--dark-gray-2);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 158.333%;
    letter-spacing: 0.05rem;
}
.text_l_b {
    color: var(--dark-gray-2);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 158.333%;
    letter-spacing: 0.05rem;
}
.h1_t-desktop {
    color: var(--dark-gray);
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 4rem;
    font-weight: 800;
    line-height: 103.125%;
    letter-spacing: 0.06rem;
}
/***** End VARIÁVEIS *****/






/***** Start GERAL *****/
* {
    font-family: "Inter", sans-serif;
}
body {
    background-color: #f9f8fe;
}
/***** End GERAL *****/






/***** Start BUTTON *****/
.primary-btn {
    display: flex;
    justify-content: center;
    align-items:center;

    color: var(--light-gray-3);

    background-color: var(--primary);
    border-radius: 0.5rem;
    border: none;
    transition: 0.2s;
}
.primary-btn:hover {
    background-color: var(--Tertiary);

    transition: 0.2s;
    cursor: pointer;
}
.secondary-btn {
    display: flex;
    justify-content: center;
    align-items:center;

    color: var(--primary);

    background-color: var(--light-gray-3);
    border-radius: 0.5rem;
    border: none;
    transition: 0.2s;
}
.secondary-btn:hover {
    background-color: var(--secondary);
    color: #f7f7fc;

    transition: 0.2s;
    cursor: pointer;
}
.aviso__desconto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 6rem;
    border-radius: 1.81rem;
    background-color: #e7ff86;
}
/***** End BUTTON *****/






/***** Start NAVBAR *****/
header {
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.nav-desktop {
    display: flex;
    flex-direction: column;
    margin: 2.13rem 0 1.81rem 0;
    max-width: 77.5rem;
    width: 100%;
    gap: 2.5rem;
}
.nav__superior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.nav__superior picture {
    margin-right: 1.6875rem;
    max-width: 15.69rem;
    width: 100%;
    flex: 1;
}
.nav__superior .caixa__pesquisa__nav {
    position: relative;
    max-inline-size: 34.9375rem;
    inline-size: 100%;
    border: none;
    margin-right: 3rem;
    box-sizing: border-box;
}
.nav__superior .caixa__pesquisa__nav .input__pesquisa__nav {
    height: 3.75rem;
    border: none;
    outline: none;
    padding: 0 2.8125rem 0 1.25rem;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    inline-size: 100%;
    
    color: var(--dark-gray-2);
    opacity: 0.6;
    font-size: 1rem;
}
.nav__superior .caixa__pesquisa__nav .lupa__pesquisa__nav {
    float: auto;
    position: absolute;
    top: 1.125rem;
    right: 1rem;
}
.nav__superior .links__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    text-wrap: nowrap;
    margin-right: 4.375rem;
}
.nav__superior .links__nav > .link__cadastro {
    color: var(--dark-gray-2);
    text-decoration: underline;
    text-underline-offset: 2px;
}
.nav__superior .links__nav > .primary-btn {
    height: 2.5rem;
    width: 7.12rem;
    font-weight: 700;
    margin: 0;
}
.nav__superior .carrinho__nav {
    position: relative;
    height: 1.8125rem;
    width: 2.0625rem;
    cursor: pointer;
}
.nav__superior .digito__carrinho__nav {
    position: absolute;
    top: 0.06rem;
    left: 1.31rem;
    color: white;
    font-size: 0.75rem;
}
.nav__inferior {
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;
    gap: 2rem;
}
.nav__inferior .lista__menu__link {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    color: var(--dark-gray-2);
    transition: 0.3s;
    padding-bottom: 0.06rem;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.00);
    line-height: 150%;
}
.nav__inferior .lista__menu__link:hover {
    color: var(--primary);
    text-shadow: 
        0.20px 0.20px 0.1px var(--primary),
        -0.20px -0.20px 0.1px var(--primary),
        0.20px -0.20px 0.1px var(--primary),
        -0.20px 0.20px 0.1px var(--primary);
    padding-bottom: 0.06rem;
    border-bottom: 0.125rem solid var(--primary);
    transition: 0.3s;
}
/***** End NAVBAR *****/






/***** MAIN *****/
main {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
/* PROPAGANDA INICIAL - SEÇÃO */
.propaganda__inicial {
    display: flex;
    justify-content: center;
    padding: 7.75rem 0 3.31rem 0;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 2.37rem;
}
.propaganda__inicial__child {
    display: flex;
    flex-direction: column;
    max-width: 77.5rem;
    width: 100%;
}
.propaganda__inicial__informacoes__imagem {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.propaganda__inicial__informacoes {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 31.87rem;
    width:100%;
    margin-right: 2rem;
}
.propaganda__inicial__informacoes h1::after {
    position: relative;
    content: "\01f525";
    font-family: "Noto Color Emoji", sans-serif;
    font-size: 3.75rem;
    bottom: 0.5rem;
    left: 0.31rem;
}
.primary-btn {
    height: 3rem;
    max-width: 13.75rem;
    width: 100%;
    margin-top: 20px;
}
.propaganda__inicial__imagem {
    max-width: 37rem;
    min-width: 20rem;
    flex: 1;
}
.propaganda__inicial__imagem img {
    width: 100%;
}
.ornamento {
    flex: 1;
    position: absolute;
    max-width: 8.75rem;
    right: -2rem;
    top: -2.88rem;
}
.ornamento img {
    width: 100%;
}
.grupo__carrossel {
    display: flex;
    justify-content: center;
    height: 0.75rem;
    width: 100%;
}
/* COLEÇÕES EM DESTAQUE - CONTAINER */
.colecoes__destaque {
    max-width: 77.5rem;
    width: 100%;
}
/* COLEÇÕES EM DESTAQUE SUPERIOR */
.colecoes__destaque__superior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 6.25rem;
}
.colecoes__destaque > .text_l_b {
    margin-bottom: 1.25rem;
}
.card__destaque {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 25.31rem;
    width: 100%;
    padding: 2.12rem 0 2.19rem 1.87rem;
    border-radius: 0.5rem;
    background-color: #d8e3f2;
    gap: 0.62rem;
}
.card__destaque > .secondary-btn {
    max-width: 9.56rem;
    width: 100%;
    height: 3rem;
    z-index: 1;
}
.card__destaque__caixa__titulo {
    height: 4.5rem;
    width: 11.5rem;
}
.card__destaque__titulo {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
}
.card__destaque__imagem {
    flex: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
}
/* COLEÇÕES EM DESTAQUE INFERIOR */
.colecoes__destaque__inferior {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 7.69rem;
}
.colecoes__destaque__inferior > .text_l_b {
    margin-bottom: 1.25rem;
}
.grupo__cards__colecoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 77.5rem;
    width: 100%;
}
.card__colecoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8.62rem;
    width: 6.5rem;
}
.card__colecoes p {
    font-size: 14px;
    color: #474747;
    font-weight: 700;
}
.circulo__card__secoes {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9.375rem;
    height: 6.375rem;
    width: 6.375rem;
    background-color: var(--white);
    box-shadow: 0px 4px 25px 0px rgb(0, 0, 0, 0.05);
    cursor: pointer;
}
/* COLEÇÃO EM DESTAQUE INFERIOR - ÍCONES */
.circulo__card__secoes svg path {
    transition: 0.2s ease-in-out;
}
.circulo__card__secoes:hover svg path {
    fill:var(--primary);
}
/* PRODUTOS EM ALTA - SEÇÃO */
.produtos__alta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.produtos__alta .titulo__link {
    display: flex;
    justify-content: space-between;
    max-width: 77.5rem;
    width: 100%;
    margin-bottom: 1.25rem;
}
.produtos__alta .titulo__link a {
    display: flex;
    align-items: center;
    gap: 0.63rem;
    transition: 0.2s ease-in-out;
}
.produtos__alta .titulo__link a svg path {
    transition: 0.2s ease-in-out;
}
.produtos__alta .titulo__link .ver__todos:hover {
    color: var(--primary);
}
.produtos__alta .titulo__link .ver__todos:hover svg path {
    stroke: var(--primary);
}
.cards__produtos__alta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 77.5rem;
    width: 100%;
    row-gap: 40px;
    column-gap: 24px;
}
.card__produto {
    max-width: 18.25rem;
    width: 100%;
    height: 27.44rem;
}
.background__card__produto {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20.06rem;
    background-color: var(--white);
    margin-bottom: 1.12rem;
}
.background__card__produto .aviso__desconto {
    position: absolute;
    left: 20px;
    top: 20px;
}
.background__card__produto img {
    align-self: center;
    margin: auto;
}
.card__produto div {
    display: flex;
    gap: 0.69rem;
}
.card__produto div > .text_l-desktop {
    color: var(--light-gray);
    text-decoration-line: line-through;
}
.card__produto div > .text_l_b {
    color: var(--dark-gray);
}
/* OFERTAS - SEÇÃO */
.ofertas {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    height: 553px;
    width: 100%;
    background-color: var(--white);
}
.ofertas__caixa {
    display: flex;
    flex-direction: row;
    padding-top: 87px;
    gap: 97px;
}
.ofertas__elipse__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
    height: 466px;
    border-radius: 466px;
    background: var(--secondary-gradient);
}
.ofertas__imagem {
    width: 967px;
    position: relative;
    top: -40px;
    left: -24px;
}
.coluna__texto {
    margin-top: 19px;
    width: 589px;
    height: 341px;
}
.coluna__texto h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: var(--primary);
    margin-bottom: 17px;
}
.coluna__texto h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.coluna__texto p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.coluna__texto a {
    width: 200px;
    height: 40px;
}
/***** End Section *****/






/***** RODAPÉ *****/
footer {
    display: flex;
    flex-direction: column;
    padding: 72px 100px 0 100px;
    align-items: center;
    height: 454px;
    width: 100%;
    background-color: var(--dark-gray);
    color: var(--white);
}
footer article ul li a {
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}
.caixa__footer {
    display: flex;
    flex-direction: row;
}
.footer__superior {
    display: flex;
    flex-direction: row;
}
.footer__marca {
    display: flex;
    flex-direction: column;
}
.footer__marca img {
    width: 253px;
    height: 44px;
    margin-bottom: 35px;
}
.footer__marca p {
    font-size: 16px;
    color: var(--white);
    letter-spacing: none;
    line-height: 26px;
    width: 307px;
    height: 78px;
    margin-bottom: 40px;
}
.footer__marca .redes__footer {
    display: flex;
    justify-content: space-between;
    width: 124.12px;
    height: 20.53px;
}
.redes__footer a img {
    height: 20.53px;
    width: auto;
}
.footer__informacoes {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 278px;
    width: 135px;
    margin-left: 205px;
}
.footer__informacoes ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__categorias {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 240px;
    width: 96px;
    margin-left: 102px;
}
.footer__categorias ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__contato {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 168px;
    width: 233px;
    margin-left: 168px;
    font-weight: 300;
}
.linha__footer {
    margin-top: 34px;
    border-bottom: 1px solid var(--white);
    width: 1240px;
}
.footer__inferior {
    margin-top: 23px;
}
/***** End RODAPÉ *****/

